#map {
    height: 80%;
}

html, body {
font-family: 'East Sea Dokdo', cursive;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
font-family: 'East Sea Dokdo', cursive;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

@media only screen and (max-width: 1024px) {

body {
    padding: 10%;
    }

@media only screen and (max-width: 480px) {

body {
    padding: 5%;
    }

/*Try multiple width breaks for different devices */
