html, body {
  height: 100%;
    margin: 0;
}

body {
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'East Sea Dokdo', cursive;
    background-color: #141516;
}

/* Style the header */
.vis{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color:#141516;
}
.header {
  background-color: #141516;
  margin-top:-210px;
  height:250px;
  padding: 10px;
  text-align: center;
  font-size: 100px;
  color: #fbffe5;
  font-family: 'East Sea Dokdo', cursive;
}
.header2 {
  background-color: #141516;
  text-align: center;
  font-size: 100px;
  color: #fbffe5;
  margin-top:-190px;
  margin-bottom:-120px;
  font-family: 'East Sea Dokdo', cursive;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  font-size: 50pt;
  text-align: center;
  padding: 10%;
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   background-color:#141516;
}

.connect-button{
  font-family: 'East Sea Dokdo', cursive;
	height:100px;
	width:50%;
	font-size: 40pt;
border-radius: 7px;
color:#141516;
background-color:#fdfff7;
   border: 1px solid lightgrey;
}
/* Middle column */
.column.middle { position: absolute;
    right: 0;
    top: 0;
    display: flex;
    text-align: center;
    height: 125px;
    width: 150px;
  font-size: 15pt;
   color: #fbffe5;
   font-weight:100;
     margin-top:-7%;
}

/* Style the footer */
.footer {
background-color:#141516;
  color:#fbffe5;
  padding: 10px;
  text-align: center;
  font-size: 21px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.dropbtn {
    font-family: 'East Sea Dokdo', cursive;
  background-color: #fdfff7;
  color:#141516;
  padding: 16px;
  font-size: 30px;
  border: none;font-family: 'East Sea Dokdo', cursive;
}

.dropdown {
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
    font-family: 'East Sea Dokdo', cursive;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 30px;
}

.dropdown-content a {
    font-family: 'East Sea Dokdo', cursive;-
  color:#141516;;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #fdfff7;
}

.dropdown-content a:hover {background-color: #eef7d4;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #eef7d4;} /*hover color*/

#windy {
        width: 100%;
        height: 50%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 20%;
  border:1px solid #ccc;
}

div.slideshow-container img{
  width:100%;
  height:auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fbffe5;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 1024px) {

body {
    padding: 10%;
    }
.connect-button{
      width:100%;
    }
    .header{
      font-size: 70px;
    }
    .footer{
background-color: #141516;
color:#fbffe5;
  border-radius: 7px;
    }
    .column.middle{
      margin-top:-7%;
      padding-left:14px;
        font-size:17px;
    }
}
@media only screen and (max-width: 480px) {

body {
    padding: 5%;
    }
    .column.middle{
    }
)
